.container {
    position: absolute;
    top: 10px;
    width: 1100px;
    height: 600px;
    height: 80px;
    
    
   
}

.Buttonsorter {

    position: absolute;
    left: 880px;
    top: -105px;
    width: 100px;
    height: 50px;
    color: #fff;
    
}

.Buttonsorter >button {
    width: 200px;
    
}



.quote {
    width: 100%;
    
}



.column1 {
    position: relative;
    float: left;
    width: 25%;
    height: 300px;
    column-gap: 40px;
  }


  .rowd{
    position: absolute;
    left: 100px;
    width: 80%;

  }




  .rowd:after {
    content: "";
    display: table;
    clear: both;
  }




  .arrow {
      
    border: solid rgb(0, 0, 0);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  